:root{
    --primary-color: #27374D;
    --primary-light-color:  #EEEDED;
    --secodary-color: #E6B325;
    --secondary-light-color: #F6F4EB;
    --paragraphs-main-color: #61677A;
    --light-blue-color: #749BC2;
    --black-color: #000;
    --white-color: #fff;
    --transition: all 500ms ease;
}

::-webkit-scrollbar{
    background: var(--primary-light-color);
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--secodary-color);
    height: 5rem;
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
    font-size: 15px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: var(--white-color);
    color: var(--paragraphs-main-color);
    max-width: 100vw;
}

/* NAVBAR SECTTION */
nav{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: fixed;
    top: 0;
    z-index: 2;
    background: var(--primary-color);
}

nav.changeNavBackground{
    background: var(--black-color);
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

nav .container h3{
    color: var(--white-color);
}

nav .container ul{
    display: flex;
    height: 100%;
}

nav .container a{
    width: 7rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--white-color);
    font-size: 1.1rem;
    position: relative;
    transition: var(--transition);
}

nav .container a:hover{
    color: var(--secodary-color);
}

nav .container a.active{
    background: var(--secodary-color);
    color: var(--white-color);
}


button{
    display: none;
}

.container{
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5{
    color: var(--primary-color);
    line-height: 1.5;
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.6rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1rem;
}

h5{
    font-size: 0.86rem;
}

p{
    font-size: 1,1rem;
    line-height: 1.8;
}

section{
    max-width: 100vw;
    overflow-x: hidden;
    padding: 10rem 0 7rem;
}

section h1{
    display: block;
    text-align: center;
    padding-bottom: 5rem;
}

img{
    width: 100%;
}


/* LANDING SECTION*/
section.landing{
    display: grid;
    place-items: center;
    position: relative;
    top: 5rem;
    background: var(--primary-color);
    background: linear-gradient(rgba(0,0,0,0.7), var(--primary-color)),url('./images/header-img.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 0;
}

section.landing .container{
    display: grid;
    grid-template-columns: 5% auto 28%;
    gap: 2rem;
}

section.landing .container .socials{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

section.landing .container .socials i{
    font-size: 1.1rem;
    background: var(--primary-light-color);
    color: var(--primary-color);
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: var(--transition);
}

section.landing .container .socials i:hover{
    background: var(--secodary-color);
    color: var(--white-color);
}

/* section.landing .container .landing-info{
    margin: 0 auto;
} */

section.landing .container .landing-info h1{
    text-align: left;
    color: var(--white-color);
}

section.landing .container .landing-info h3{
    padding-bottom: 2rem;
    color: var(--white-color);
}

section.landing .container .landing-info p{
    width: 75%;
    color: var(--white-color);
}

.btn{
    padding: 1rem 2rem;
    background: var(--secodary-color);
    color: var(--white-color);
    margin-top: 1.5rem;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn:hover{
    box-shadow: 0.5rem 0.5rem 3.5rem var(--secodary-color);
}

section.landing .container .profile-pic img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    overflow-x: hidden;
    margin: 0 auto;
}

/* ABOUT SECTION */
section.about .container{
    display: grid;
    grid-template-columns: 28% auto;
    gap: 5rem;
}

section.about .container .about-img img{
    height: 35rem;
}

section.about .container p{
    margin-bottom: 1rem;
}

section.about .container .show-more-info{
    display: none;
}

section.about .container .show-more-info.read-more{
    display: block;
}

.show-more-toggle{
    font-size: 1.2rem;
    display: block;
    cursor: pointer;
    color: var(--secodary-color);
    font-weight: 500;
}

/* SERVICES SECTION */
section.services{
    background: var(--primary-light-color);
    padding-bottom: 15rem;
}

section.services .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-self: center;
    text-align: center;
}

section.services .container .service-col{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--white-color);
    padding: 2rem 1rem;
    transition: transform .5s;
    box-shadow: 1rem 1rem 3rem var(--paragraphs-main-color);
    border-radius: 10%;
}

section.services .container .service-col:hover{
    cursor: pointer;
    transform: translateY(-1rem);
}

section.services .container .service-col i{
    background: var(--primary-color);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    font: 500;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}

section.services .container .service-col:nth-child(2) i{
     background: var(--secodary-color);
}

section.services .container .service-col:nth-child(3) i{
    background: var(--light-blue-color)
}

/* PORTFOLIO SECTION */
section.portfolio .container h1{
    text-align: left;
    width: 60%;
    padding: 1rem 0 0.7rem;
}

section.portfolio .container .project-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

section.portfolio .project-col .action a{
    color: var(--secodary-color);
    cursor: pointer;
    display: inline-block;
    margin: 1rem 1rem 0 0;

}

section.portfolio .project-col .action a:hover{
    text-decoration: underline;
}

/* TESTIMONIALS SECTION */
section.testimonials{
    background: var(--primary-light-color);
    padding: 18rem 7rem;
}

section.testimonials .testimonial-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

section.testimonials .testimonial-row .testimonial-col{
    background: var(--white-color);
    padding: 2rem 3rem;
    box-shadow: 1rem 1rem 2rem var(--paragraphs-main-color);
    transition: transform .5s;
    border-radius: 10%;
}

section.testimonials .testimonial-row .testimonial-col:hover{
    transform: translateY(-1rem);
    cursor: pointer;
}

section.testimonials .testimonial-row .testimonial-col .user{
    display: flex;
    align-items: center;
    gap: 2rem;
}

section.testimonials .testimonial-row .testimonial-col .user img{
    width: 5rem;
    border-radius: 50%;
}

/* CONTACT SECTION */
section.contact{
    background: url('./images/contact-pic.jpg') no-repeat center center/cover;
    padding: 0;
    background-attachment: fixed;
}

section.contact .overlay{
    width: 100%;
    height: 100%;
    padding: 10rem 0 7rem;
    background: rgba(0, 0, 0, 0.9);
}

section.contact .overlay .container{
    width: 40%;
}

section.contact .overlay .container h1{
    color: var(--white-color);
    margin: 0;
    padding-bottom: 2rem;
}

section.contact .overlay .container p{
    color: var(--white-color);
    text-align: center;
    padding-top: 0;
}

section.contact .overlay .container form{
    margin: 3rem auto;
}

section.contact .overlay .container form input, section.contact .overlay .container form textarea{
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    padding: 2rem 1.5rem;
    background: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
}

section.contact .overlay .container form input:focus, section.contact .overlay .container form textarea:focus{
    background: var(--white-color);
    color: var(--black-color);
}

section.contact .overlay .container form input::placeholder, section.contact .overlay .container form textarea::placeholder{
    color: var(--white-color);
}

section.contact .overlay .container form textarea{
    height: 10rem;
}

section.contact .overlay .container form input.submit-button{
    width: 30%;
    margin: 1rem auto;
    padding: 1rem;
    transition: var(--transition);
    cursor: pointer;
    background: var(--secodary-color);
    border: none;
}

section.contact .overlay .container form input.submit-button:hover{
    box-shadow: 0.5rem 0.5rem 3.5rem var(--secodary-color);
}

/* FOOTER */
footer .container{
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer .container h3{
    color: var(--primary-color);
}

footer .container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

footer .container ul a{
    color: var(--paragraphs-main-color);
    transition: var(--transition);
    font-weight: 500;
}


footer .container ul a:hover{
    color: var(--secodary-color);
}

footer .container .socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer .container .socials i{
    color: var(--paragraphs-main-color);
    font-weight: 500;
    font-size: 1.1rem;
    background: var(--primary-light-color);
    color: var(--primary-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .socials i:hover{
    background: var(--secodary-color);
    color: var(--white-color);
}

footer .copyright{
    background: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    margin-top: 2rem;
    padding: 2rem 1.5rem;
    font-size: 1rem;
}


/* MEDIA QUERY [PHONE] */
@media screen and (max-width: 600px){
    h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.6rem;
    }

    h3{
        font-size: 1.2rem;
    }

    h4{
        font-size: 1rem;
    }

    h5{
        font-size: 0.68rem;
    }

    .container{
        width: 92%;
    }

    /* NAVBAR */
    nav h3{
        margin-left: 1rem;
    }

    nav .container{
        width: 100%;
    }

    nav .container ul{
        flex-direction: column;
        width: 18rem;
        height: 100vh;
        background: var(--primary-color);
        position: fixed;
        top: 0;
        z-index: 3;
        display: none;
    }

    nav .container li{
        width: 100%;
        height: 5rem;
        overflow: hidden;
    }

    nav .container li a{
        width: 100%;
        justify-content: start;
        padding-left: 2rem;
    }

    nav .container li a:hover{
        padding-left: 3rem;
        color: var(--white-color);
    }

    nav .container li a.active{
        background: var(--secodary-color);
    }

    nav .container button{
        display: inline-block;
        background: transparent;
        font-size: 2rem;
        color: var(--white-color);
        padding-right: 1rem;
        cursor: pointer;
    }

    nav .container button#close-btn{
        display: none;
    }

    /* LANDING SECTION */
    section.landing{
        max-width: 100vw;
        overflow-y: hidden;
        padding-bottom: 0;
        /* margin: 0 auto; */
        text-align: center;
    }

    section.landing .container{
        grid-template-columns: 1fr;
        grid-template-rows: 20% 50%;
        grid-gap: 6rem;
        text-align: center;
        margin: 0 auto;
    }

    section.landing .container .profile-pic{
        grid-row: 1;
       margin: 5rem auto 1rem;
        
    }

    section.landing .container .landing-info{
        grid-row: 2;
        margin: 12rem auto 2rem;
        text-align: center;
    }

    section.landing .container .a{
        padding-bottom: 5rem;
    }

    section.landing .container .socials{
        grid-row: 3;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin: -75rem auto -50rem;
        
    }

    section.landing .container .socials i:hover{
        background: var(--secodary-color);
        color: var(--white-color);
    }

    section.landing .container .landing-info h1{
        padding-bottom: 1rem;
        text-align: center;
    }

    section.landing .container .landing-info h3{
        margin-top: 1rem;
        padding-bottom: 0.7rem;
    }

    section.landing .container .landing-info p{
        width: 100%;
    }

    /* ABOUT SECTION */
    section.about .container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    section.about .container .about-info p{
        text-align: center;
        width: 96%;
    }

    /* SERVICES SECTION */
    section.services{
        padding: 5rem 0;
    }
    section.services .container{
        grid-template-columns: 1fr;
        justify-content: center;
    }

    section.services .container .service-col{
        padding: 4rem 3rem;
    }


    /* PORTFOLIO SECTION */
    section.portfolio{
        padding: 5rem 0;
    }

    section.portfolio .container h1{
        width: 92%;
    }
    section.portfolio .container .project-row{
        grid-template-columns: 1fr;
    }

    section.portfolio .container .project-row .project-col h3{
        margin-top: 2rem;
    }

    section.portfolio .container .project-row .project-col .action{
        margin-bottom: 3rem;
    }


    /* TESTIMONIALS SECTION */
    section.testimonials{
        padding: 5rem 0;
    }

   
    section.testimonials .container .testimonial-row{
        display: block;
    }

    section.testimonials .container .testimonial-row .testimonial-col{
	margin-bottom: 2rem;
    }

    /* CONTACT SECTION */
    section.contact .overlay{
        padding: 5rem 0 3rem;
    }
    section.contact .overlay .container{
        width: 100%;
    }

    section.contact .overlay .container p{
            width: 80%;
            margin: 0 auto;
    }


    section.contact .overlay .container form input, section.contact .overlay .container form textarea{
        width: 80%;
        margin: 0 auto;
    }

    /* FOOTER SECTION */
    footer .container{
        flex-direction: column;
        gap: 5rem;
    }

    footer .container ul{
        flex-direction: column;
    }
}
    

/* MEDIA QUERY TABLET */
@media(min-width: 601px) and (max-width:1205px){
    h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.6rem;
    }

    h3{
        font-size: 1.2rem;
    }

    h4{
        font-size: 1rem;
    }

    h5{
        font-size: 0.68rem;
    }

    .container{
        width: 92%;
    }

    /* NAVBAR */
    nav h3{
        margin-left: 1rem;
    }

    nav .container{
        width: 100%;
    }

    nav .container ul{
        flex-direction: column;
        width: 18rem;
        height: 100vh;
        background: var(--primary-color);
        position: fixed;
        top: 0;
        z-index: 3;
        display: none;
    }

    nav .container li{
        width: 100%;
        height: 5rem;
        overflow: hidden;
    }

    nav .container li a{
        width: 100%;
        justify-content: start;
        padding-left: 2rem;
    }

    nav .container li a:hover{
        padding-left: 3rem;
        color: var(--white-color);
    }

    nav .container li a.active{
        background: var(--secodary-color);
    }

    nav .container button{
        display: inline-block;
        background: transparent;
        font-size: 1.5rem;
        color: var(--white-color);
        padding-right: 1rem;
        cursor: pointer;
    }

    nav .container button#close-btn{
        display: none;
    }

    /* LANDING SECTION */
    section.landing{
        max-width: 100vw;
        overflow-y: hidden;
        padding-bottom: 0;
        /* margin: 0 auto; */
        text-align: center;
    }

    section.landing .container{
        grid-template-columns: 1fr;
        grid-template-rows: 20% 50%;
        grid-gap: 6rem;
        text-align: center;
        margin: 0 auto;
    }

    section.landing .container .profile-pic{
        grid-row: 1;
       margin: 5rem auto 1rem;
        
    }

    section.landing .container .landing-info{
        grid-row: 2;
        margin: 12rem auto 2rem;
        text-align: center;
    }

    section.landing .container .a{
        padding-bottom: 5rem;
    }

    section.landing .container .socials{
        grid-row: 3;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin: -75rem auto -50rem;
        
    }

    section.landing .container .socials i:hover{
        background: var(--secodary-color);
        color: var(--white-color);
    }

    section.landing .container .landing-info h1{
        padding-bottom: 1rem;
        text-align: center;
    }

    section.landing .container .landing-info h3{
        margin-top: 1rem;
        padding-bottom: 0.7rem;
    }

    section.landing .container .landing-info p{
        width: 100%;
    }

    /* ABOUT SECTION */
    section.about .container{
        grid-template-columns: 1fr;
        text-align: center;
    }


    /* SERVICES SECTION */
    section.services{
        padding: 5rem 0;
    }
    section.services .container{
        grid-template-columns: 1fr;
        justify-content: center;
    }

    section.services .container .service-col{
        padding: 4rem 3rem;
    }

    section.testimonials .container .testimonial-row{
        display: block;
    }

    section.testimonials .container .testimonial-row .testimonial-col{
	margin-bottom: 2rem;
    }

    /* PORTFOLIO SECTION */
    section.portfolio{
        padding: 5rem 0;
    }

    section.portfolio .container h1{
        width: 92%;
    }
    section.portfolio .container .project-row{
        grid-template-columns: 1fr;
    }

    section.portfolio .container .project-row .project-col h3{
        margin-top: 2rem;
    }

    section.portfolio .container .project-row .project-col .action{
        margin-bottom: 3rem;
    }

    /* CONTACT SECTION */
    section.contact .overlay{
        padding: 5rem 0 3rem;
    }
    section.contact .overlay .container{
        width: 100%;
    }

    section.contact .overlay .container p{
            width: 80%;
            margin: 0 auto;
    }


    section.contact .overlay .container form input, section.contact .overlay .container form textarea{
        width: 80%;
        margin: 0 auto;
    }


    /* FOOTER SECTION */
    footer .container{
        flex-direction: column;
        gap: 5rem;
    }

    footer .container ul{
        flex-direction: column;
    }

}